/* Restaurant Module 5 Styles */

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #333;
  background-color: #fff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p {
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}

.navbar-brand p span {
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #951C49;
  text-align: center;
}

#nav-list a:hover {
  background: #E7E7E7;
}

#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}

#phone a {
  text-align: right;
  padding-bottom: 0;
}

#phone div {
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

/** MAIN CONTENT **/
#main-content {
  margin-top: 30px;
  min-height: 400px;
}

.category-tile {
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
  cursor: pointer;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
  padding: 10px 0;
}

.category-tile:hover {
  box-shadow: 0 3px 8px 2px #cccccc;
  transform: scale(1.05);
}

.category-tile a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
}

.menu-item-tile {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
}

.menu-item-tile h3 {
  color: #557c3e;
  margin-top: 0;
}

/** FOOTER **/
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}

.panel-footer div.row {
  margin-bottom: 35px;
}

#hours, #address {
  line-height: 2;
}

#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}

#testimonials {
  font-style: italic;
}

#testimonials p:nth-child(2) {
  margin-top: 25px;
}

@media (max-width: 767px) {
  #phone div {
    text-align: center;
    padding-right: 0;
  }
}
